DATABASE_URL="postgresql://user:password@ep-example-pooler.us-east-1.aws.neon.tech/database?sslmode=require"
DIRECT_URL="postgresql://user:password@ep-example.us-east-1.aws.neon.tech/database?sslmode=require"
CRON_SECRET="your-secret-token-for-scraping"
AUTH_SECRET="generate-with-openssl-rand-base64-32"
AUTH_GOOGLE_ID=""
AUTH_GOOGLE_SECRET=""
AUTH_TRUST_HOST=true
ASAAS_API_KEY="seu_api_key_do_asaas"
ASAAS_SANDBOX="true"
